body {
    font-family: 'Chalkboard', cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
    overflow: auto;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    font-size: 15px;
}

.user_input_div {
    margin-bottom: 20px;
}

input[type="text"],
input[type="file"],
button {
    font-family: 'Chalkboard', cursive;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin: 10px 0;
}
.chat_container {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
