html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: 'Chalkboard', cursive;
    margin: 0;
    padding: 0;
    background-image: url("medical.png");
    background-size: cover; 
    background-repeat: no-repeat;
    overflow: auto;
    width: 100%;
    height: 100%;

}

.title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

form {
    color: white;
    width: 80%;
    margin: 50px auto 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align form elements to the left within the centered container */
}

label {
    font-weight: bold;
    font-size: 18px;
}

.user_input{
    color: white;
    background-color: rgba(173, 216, 230, 0.205); /* Light blue with 50% opacity */
}

.user_input::placeholder {
    color: rgba(255, 255, 255, 0.583);
}



.box{
    margin-top: -30px;
    text-align: center;
    margin-left: 100px;
}

.user_input_div {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.user_file_upload_div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}






input[type="text"],
input[type="file"],
button {
    font-family: 'Chalkboard', cursive;
    width: calc(100% - 20px); /* Adjust the width as needed */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px lightblue;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 200px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button_container{
    text-align: center;
}

p {
    margin: 10px 0;
}

.chat_container {
    color: white;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(173, 216, 230, 0.205); /* Light blue with 50% opacity */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
