.state{
    color: white;
    background-color: rgba(173, 216, 230, 0.205); 
}

.city{
    color: white;
    background-color: rgba(173, 216, 230, 0.205); 
}

.center_button{
    text-align: center;
    margin-top: 30px;
}