<!DOCTYPE html>
<html>
<head>
    {% include 'all_styles.html' %}
    <link rel="stylesheet" type="text/css" href="/static/locations.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'logo.html' %}

    <div class="chat_container">
        {% if user_input %}
            <p><strong>You:</strong> {{ user_input }}</p>
        {% endif %}
    
        {% if bot_response %}
            <p><strong>CuraAI:</strong> {{ bot_response }}</p>
        {% endif %}
    </div>

    <div class="find-location-button">
        <button onclick="openNewScreen()">Find Treatment Locations</button>
    </div>

    <script>
        function openNewScreen() {
            window.location.href = "/locations"; 
        }
    </script>
    
</body>
</html>
