<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuraAI</title>
</head>

<body>
    <form method="POST" action="/" enctype="multipart/form-data">
        
        <div class="user_input_div">
            <!-- Use placeholder attribute to show the text inside the input field -->
            <input type="text" class="user_input" name="user_input" placeholder="Enter a prompt"><br>
        </div>
        
        <div class="user_file_upload_div">
            <label for="file_input"></label><br>
            <div class="box"><input type="file" id="file_input" name="file_input"><br></div>
        </div>

        <div class="button_container"><button type="submit">Submit</button></div>
    </form>

</body>
</html>
