<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ab6f11175c8605cc45b8247f59ddfa55 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ab6f11175c8605cc45b8247f59ddfa55" ></div>
        
</body>
<script>
    
    
            var map_ab6f11175c8605cc45b8247f59ddfa55 = L.map(
                "map_ab6f11175c8605cc45b8247f59ddfa55",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_289eaf6a7db2e618141763675f8176ac = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_289eaf6a7db2e618141763675f8176ac.addTo(map_ab6f11175c8605cc45b8247f59ddfa55);
        
    
            var marker_d474584cda184dc41bfc967c1189b973 = L.marker(
                [33.6468827, -117.8510912],
                {}
            ).addTo(map_ab6f11175c8605cc45b8247f59ddfa55);
        
    
        var popup_77821047443774e009e1d13becef32de = L.popup({"maxWidth": "100%"});

        
            
                var html_66a59e5067051faf05b010df50cb2cf7 = $(`<div id="html_66a59e5067051faf05b010df50cb2cf7" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
                popup_77821047443774e009e1d13becef32de.setContent(html_66a59e5067051faf05b010df50cb2cf7);
            
        

        marker_d474584cda184dc41bfc967c1189b973.bindPopup(popup_77821047443774e009e1d13becef32de)
        ;

        
    
    
            var marker_5fe5f9aa7b54b896346233356b04ef78 = L.marker(
                [33.660634, -117.7723046],
                {}
            ).addTo(map_ab6f11175c8605cc45b8247f59ddfa55);
        
    
        var popup_c41ded97410838eb55df6f2fc28c0737 = L.popup({"maxWidth": "100%"});

        
            
                var html_745dbb6d88bf05e34739e891260bfba6 = $(`<div id="html_745dbb6d88bf05e34739e891260bfba6" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
                popup_c41ded97410838eb55df6f2fc28c0737.setContent(html_745dbb6d88bf05e34739e891260bfba6);
            
        

        marker_5fe5f9aa7b54b896346233356b04ef78.bindPopup(popup_c41ded97410838eb55df6f2fc28c0737)
        ;

        
    
    
            var marker_3a2a49aa91691cbe825b83827063cac2 = L.marker(
                [33.6578508, -117.7743829],
                {}
            ).addTo(map_ab6f11175c8605cc45b8247f59ddfa55);
        
    
        var popup_c30cdb264f9dc0d8a0be86bb73a33bec = L.popup({"maxWidth": "100%"});

        
            
                var html_ad64528892635e88ce27b92011cfeabf = $(`<div id="html_ad64528892635e88ce27b92011cfeabf" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
                popup_c30cdb264f9dc0d8a0be86bb73a33bec.setContent(html_ad64528892635e88ce27b92011cfeabf);
            
        

        marker_3a2a49aa91691cbe825b83827063cac2.bindPopup(popup_c30cdb264f9dc0d8a0be86bb73a33bec)
        ;

        
    
</script>
</html>